/* PrismJS 1.29.0 */
code[class*="language-"],
pre[class*="language-"] {
  overflow-y: auto;
	color: rgb(220,221,255);
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: .5;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: none;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}
pre[class*="language-"] {
	overflow-y: auto;
}
:not(pre) > code[class*="language-"] {
	/*white-space: normal;*/
	white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow-x:hidden;
  overflow-wrap: break-word;
  overflow-y: auto;
}
.token.comment {
	color: rgb(134,134,207);
}
.token.punctuation {
	color: rgb(255,203,0);
}
.token.namespace {
	opacity: .7;
}
.token.number,
.token.boolean {
  color: rgb(34,143,236);
}
.token.operator {
  color: rgb(115,43,255);
}
.token.property,
.token.constant,
.token.symbol,
.token.deleted {
	color: #990055;
}

.token.string {
  color: rgb(41,209,72);
}
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9A6E3A;
}

.token.keyword {
	color: rgb(203,25,79);
}

.token.function {
  color: rgb(255,117,187);
}
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #EE9900;
}